Опыт коммерческой разработки. Опыт работы python программистом более 3х лет. Отличное знание Python(>3.6), ООП, паттернов проектирования. 
Хорошее знание принципов разработки ПО: алгоритмы, деревья, графы, шаблоны, поиск ошибок, профилирование. Уверенное владение Python. Проактивный подход и стремление к...
Знание принципов ООП и умение применять их на практике. Понимание принципов REST архитектуры. Уверенное владение Python 3. Опыт коммерческой разработки...
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Опыт работы от 3  х лет. Уверенное владение Python\Django, PostgreSQL. Опыт написания клиентсерверных приложений. Навыки уверенной работы с...
Опыт программирования на Python (Django, Pandas) от 1 года. Знание PostgreSQL, MySQL и умение работать с базами данных. 
Знание Python. Опыт работы с: Backend фреймворками Flask/Django, реляционными базами данных, HTTP запросами, системы контроля версий Git. 
Опыт работы по специальности  от 3х лет. Хорошие знания Python (2.7, 3.x). Опыт разработки распределённых систем. 
Отличные знания Python. Высокий уровень знаний Django. Разнообразный опыт работы с asyncio, aiohttp. Большой опыт разработки высоконагруженных и распределенных систем. 
Подтвержденный опыт разработки на Python от 3х лет, Django от 2х лет. Опыт работы и хорошие знания PostgreSQL. 
Мы ищем кандидатов с большим опытом работы с Python и воплощением продуктов в жизнь. Вы должны иметь опыт работы с...
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
Работал с Python 3, вебфреймоворками (Flask, Django). Знает классические алгоритмы и структуры баз данных, сортировки. Преимуществом будет опыт работы...
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Опыт работы от 3  х лет. Уверенное владение Python/Django, PostgreSQL. Опыт написания клиентсерверных приложений. Навыки уверенной работы с...
От 3 лет промышленной разработки на Python. Понимание подходов к проектированию архитектуры API (openapi). Отличное знание и владение: Python. 
Опыт разработки на Python/C# от 3х лет. Опыт работы с REST_Web_API. Опыт работы с PostgreSQL, SQL...
Помогать менее опытным коллегам. Непрерывно обучаться, совершенствовать свои знания и навыки. Чего мы ждем от тебя: Отличное знание Python 3. 
Опыт работы в аналогичной должности от 2х лет. Имеющим глубокие знания Transact SQL, написание и оптимизация сложных запросов. 
Уверенные знания Python Core 3.8, Django, DRF. Использование следующих принципов: ООП, DRY, KISS, SOLID, REST. Опыт работы с базами...
