Опыт разработки на Python в больших и сложных проектах в роли ведущего разработчика. Знание и опыт использования паттернов проектирования. 
Пишешь на python уже минимум 2 года. У тебя есть опыт вывода в прод ML моделей и рефакторинга DS кода.
Хорошее владение Python 3. Базовые навыки работы с Linux. Опыт работы с системами контроля версий git. Ответственность, коммуникабельность и умение...
В backend команду Everypixel ищем pythonразработчика с опытом 2 года.  способен самостоятельно решать задачи. Плюсом будет:  опыт проектирования и...
Законченное высшее образование. Опыт работы Python (3x) разработчиком от 6 месяцев. Опыт работы с flask. Опыт работы с библиотекой...
О компании Duplicat.ai. Что ты будешь делать.  Опыт работы бэкендинженером не менее 6 лет.  Опыт работы с Python или...
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
Опыт работы от 5 лет. Понимание процессов обработки данных финансовых услуг, систем и продуктов. Опыт технической бизнесаналитики. 
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание Python 3 и базовых библиотек. * Опыт работы с реляционными БД, знание SQL, желательно – SQLAlchemy. * Опыт работы с веб фреймворками...
...коммерческой разработки на Python не менее 2 лет. Превосходно болтаешь и чатишься на английском языке. Коммерческий опыт работы с ML.
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Опыт управления командой. Уверенные навыки SWE: знание базовых алгоритмов и структур данных, понимание микросервисной архитектуры, принципов построения распределенных систем. 
Превосходно болтаешь и чатишься на английском языке. Коммерческий опыт работы с ML. Опыт работы с Tornado и Flask.
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание Python. Знание CV классического (Opencv). Знание ML/DL (Pytorch). Хорошая математическая подготовка. Работа с git, bash, docker. 
Знание C. Знание Python. Знание ML/DL. Хорошая математическая подготовка. Работа с git, bash, docker. Умение реализовывать статьи. 
