Знание принципов ООП и умение применять их на практике. Понимание принципов REST архитектуры. Уверенное владение Python 3. Опыт коммерческой разработки...
Подтвержденный опыт разработки на Python от 3х лет, Django от 2х лет. Опыт работы и хорошие знания PostgreSQL. 
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Знание Python. Опыт работы с: Backend фреймворками Flask/Django, реляционными базами данных, HTTP запросами, системы контроля версий Git. 
Помогать менее опытным коллегам. Непрерывно обучаться, совершенствовать свои знания и навыки. Чего мы ждем от тебя: Отличное знание Python 3. 
Linux – уверенное владение на уровне пользователя: умение перемещаться по директориям и тп. Уверенное знание английского языка (на уровне технической документации). 
Питонист уровня анаконда, который умеет в MLOps. Опыт написания оберток Python к С или встраивания в С. Знание AWS API...
Питонист уровня анаконда, который умеет в MLOps. Опыт написания оберток Python к С или встраивания в С. Знание AWS API...
Отличные знания Python. Высокий уровень знаний Django. Разнообразный опыт работы с asyncio, aiohttp. Большой опыт разработки высоконагруженных и распределенных систем. 
Гибкость: продукты Контура постоянно адаптируются под рынок и пользователей, нужно уметь работать в меняющихся условиях.
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
От 3 лет промышленной разработки на Python. Понимание подходов к проектированию архитектуры API (openapi). Отличное знание и владение: Python. 
Знание Python. Знакомство с Git. Знакомство с Linux. Будет плюсом: Знание основ unitтестирования. Знание SQL и опыт работы с...
Высшее техническое или математическое образование. Хорошее знание языка Python3, опыт промышленной разработки от 2х лет. Умение разбираться, как...
Опыт разработки на Python/C# от 3х лет. Опыт работы с REST_Web_API. Опыт работы с PostgreSQL, SQL...
Уверенное владения Python, опыт поддержки библиотеки с большим объёмом кода. Базовые знания C; опыт написания Python расширений на C. 
Знание Python или иных скриптовых языков с последующей миграцией на Python. Хорошее знание SQL. Умение и желание писать качественный, поддерживаемый...
Опыт проектирования и разработки высоконагруженных сервисов, организации процессов обработки больших данных. Продвинутый уровень Python 3, SQL, будет плюсом опыт разработки...
Возможности профессионального развития: мы организуем онлайн и офлайн митапы на актуальные темы, внутренние технические и архитектурные встречи по обмену опытом.  
Знание Python 3.6, вебфреймоворков (Flask или Django), ORM (SQLAlchemy или Django_ORM). Опыт работы c ОС Linux. 
