Иметь базовые навыки (Java(8,13), Spring_Boot2, SQL, NetBeans или Intellij Idea, GIT или SVN, Maven или Ant...
Мы не хотим тратить буквы на ерунду, поэтому: Технологии: Java 8  11. От тебя:
Навыки работы с Python для вебразработки (FastAPI, Django и т.д.). Опыт разработки вебприложений с использованием современных JS...
Соблюдение принципов SOLID, DRY, KISS etc. Интеграция приложений Django с любой очередью сообщений. Желание сопровождать свой код документацией. 
Знание дополнительных модулей будет плюсом. Знание Frameworkов Django, Flask на достаточном уровне, чтобы обучать учеников. Знание GIT, GIT HUB...
Java, SWT, JavaFX. Уверенное владение и понимание Java (Core, Collections, Concurrency). Мы используем 11 ю версию Java. Опыт работы с...
Опыт коммерческой разработки на Java от 3х лет. Отличное знание Spring. Желателен опыт работы с microservices, Docker, Kubernetes. 
Опыт работы на аналогичной должности от 2х лет. Опыт работы с Spring_Framework (Core, Boot, Security, Data). 
Java_SE 8. Spring_Framework, Spring_Boot. Netty_framework.
Опыт разработки высоконагруженных сервисов. Отличные знания Python/Django. Хорошее знание GNU/Linux. Базовые знания HTML/CSS/JS. Опыт работы с...
Опыт работы с FastAPI, Flask или Django DRF. Понимание основ работы баз данных. Опыт проектирования и сопровождения API (Rest). 
...на Java от 3 лет. Понимание принципов работы микросервисных архитектур, опыт разработки высоконагруженных проектов. Практический опыт работы со Spring, Spring...
Java 8. Умение управлять сложностью решения (паттерны проектирования, базовые структуры данных и алгоритмы). Опыт работы со Spring_Framework, Spring_Boot. 
Опыт работы и отличное знание Java. Опыт работы с maven, gradle. Знание фреймворков Spring и Spring_Boot. Знание SQL. 
Иметь базовые навыки (Java(8,13), Spring_Boot2, SQL, NetBeans или Intellij Idea, GIT или SVN, Maven или Ant...
None
Опыт коммерческой разработки на java от 5х лет.  Опыт работы на позициях full stack, либо backend разработчика Java...
Знание и опыт разработки на современных платформах с использованием последних технологий Java (Spring_Boot). Знание шаблонов интеграции информационных систем (ESB...
Знание Java EE (6, 7), в особенности JMS и JPA, EJB3, умение работать с java EE серверами приложений/сервлет...
Знание и опыт разработки на современных платформах с использованием последних технологий Java (Spring_Boot) не менее 3 лет. 
